.camper {
  display: grid;
  position: absolute;
  top: 0;
  grid-template-rows: 80px 60px 380px;
  grid-template-columns: 800px;
  grid-row-gap: 10px;
  background-color: black;
  z-index: 100; }
  .camper .publish {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 60px 630px 60px;
    grid-column-gap: 5px;
    background-color: white;
    margin: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .camper .publish .music-cover {
      width: 60px;
      height: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      font-weight: bold;
      font-size: 18px;
      justify-self: center;
      align-self: center;
      border: 2px dashed rgba(0, 0, 0, 0.5); }
    .camper .publish .music-word {
      align-self: center; }
      .camper .publish .music-word > input {
        width: 100%;
        height: 50px;
        outline: none;
        border: none; }
    .camper .publish .submit {
      justify-self: center;
      align-self: center; }
  .camper .music-choicer {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    grid-row-start: 3;
    padding: 0 20px;
    color: white;
    overflow-y: scroll; }
    .camper .music-choicer::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: #2b2a26; }
    .camper .music-choicer::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #2b2a26; }
    .camper .music-choicer::-webkit-scrollbar-thumb {
      height: 20px;
      border-radius: 10px;
      background-color: #2b2a26; }
    .camper .music-choicer .choicer-child {
      display: grid;
      position: relative;
      grid-template-rows: 96.66666666666px 76.66666666666px 26.66666666666px;
      background-image: url("../../assets/images/favorite-combine-nine-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: white;
      font-size: 18px;
      font-weight: bold;
      z-index: 999999;
      transition: all .1s; }
      .camper .music-choicer .choicer-child .name {
        opacity: 0;
        font-size: 25px;
        transition: all .1s;
        z-index: 999999; }
      .camper .music-choicer .choicer-child .artist {
        opacity: 0;
        transition: all .1s;
        z-index: 999999; }
      .camper .music-choicer .choicer-child:hover .name {
        opacity: 1;
        transition: all .1s; }
      .camper .music-choicer .choicer-child:hover .artist {
        opacity: 1;
        transition: all .1s; }
      .camper .music-choicer .choicer-child:hover .choicer-child-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: brightness(0.5) blur(10px);
        z-index: -1;
        transition: all .1s; }
  .camper .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: brightness(0.5) blur(10px);
    z-index: -1; }

.camper-move-in {
  animation: camper-move-in .5s forwards;
  display: grid !important; }

.camper-move-out {
  animation: camper-move-out .5s forwards;
  transform: translateZ(0);
  display: none; }

@keyframes camper-move-in {
  from {
    top: -100%; }
  to {
    top: 0; } }
@keyframes camper-move-out {
  from {
    top: 0; }
  to {
    top: -100%; } }

/*# sourceMappingURL=camper.css.map */
