.ratingC{
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 780px;
  grid-template-rows: 70px 430px 40px;
  justify-content: center;
  width: 800px;
  height: 540px;
  z-index: 500;
  transition: all .5s;
  background-color: white;
  .title{
    justify-self: center;
    align-self: center;
    > div{
      font-size: 16px;
      text-align: center;
      color: #fff;
    }
    .singer{
      font-size: 14px;
    }
  }
  .rating-wrapper{
    display: grid;
    grid-template-rows: 80px 350px;
    grid-row-gap: 15px;
    color: #fff;
    .rating-creator{
      position: relative;
      background-color: rgba(0,0,0,.1);
      border-radius: 5px;
      > i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%,-50%);
      }
      &:before{
        position: absolute;
        left: 0;
        content: "快来个彩虹屁吧~";
        line-height: 80px;
        padding: 0 0 0 10px;
        color: rgba(255,255,255,.3);
      }
    }
    .rating-content{
      overflow: hidden scroll;
      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        background-color: rgba(255, 255, 255,0);
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(255, 255, 255,0);
      }

      &::-webkit-scrollbar-thumb {
        height: 20px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0);
      }
      //.rating-list{
      //  display: grid;
      //  grid-template-columns: 50px 730px;
      //  margin-bottom: 1em;
      //  border-bottom: 1px solid rgba(255,255,255,.1);
      //  padding: 0 0 10px 0;
      //  .user-name{
      //    .comment-detail-triangle-char-icon{
      //      margin: 0 10px;
      //      > i{
      //        vertical-align: baseline;
      //      }
      //      &:after{
      //        content: attr(data-reply);
      //        display: inline-block;
      //      }
      //    }
      //  }
      //  .user-rating{
      //    padding: 0 10px 0 0;
      //    width: 720px;
      //    text-justify: newspaper;
      //    word-break: break-all;
      //    text-align: justify;
      //  }
      //  .user-rating-wrapper{
      //    color: #fff;
      //    .user-publish-info{
      //      position: relative;
      //      width: 710px;
      //      .date{
      //        display: inline-block;
      //        font-size: 12px;
      //        color: rgba(255,255,255,.5);
      //      }
      //      .interaction-count{
      //        position: absolute;
      //        right: 100px;
      //        color: rgba(255,255,255,0.5);
      //        font-size: 14px;
      //      }
      //      .star-and-reply{
      //        position: absolute;
      //        right: -9px;
      //        display: inline-block;
      //        > span {
      //          margin: 0 5px;
      //        }
      //      }
      //    }
      //  }
      //  .user-avatar{
      //    > i {
      //      display: block;
      //      width: 35px;
      //      height: 35px;
      //      margin-left: 5px;
      //      border-radius: 50%;
      //      background-repeat: no-repeat;
      //      background-size: cover;
      //    }
      //  }
      //}
    }
  }
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: brightness(.5) blur(20px);
    z-index: -150;
  }
}

.rating-move-in{
  animation: rating-move-in .5s forwards;
  transform: translateZ(0);
  display: grid !important;
}

.rating-move-out{
  animation: rating-move-out .5s forwards;
  transform: translateZ(0);
  display: none;
}

@keyframes rating-move-in {
  from{
    top: -100%;
  }
  to{
    top: 0;
    visibility: visible;
  }
}

@keyframes rating-move-out {
  from{
    top: 0;
  }
  to{
    top: -100%;
    visibility: hidden;
  }
}
