.login-wrapper{
  .login-body{
    box-shadow: 0 0 20px rgba(0,0,0,1);
    .user-avatar{
      position: relative;
      margin: 0 auto;
      margin-bottom: 24px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      //background-image: url("../../assets/images/avatar0.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 15px 2px rgba(0,0,0,.5);
      //-webkit-app-region: drag;
    }
    .avatar-move-to-top-left{
      animation: avatar-move-to-top-left .5s forwards;
      .message-bubble{
        position: relative;
        top: -5px;
        left: 35px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: rgb(255, 2, 2);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        &::after{
          content: "99";
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          font-size: 15px;
          font-weight: bold;
          text-align: center;
        }
      }
      &::after{
        content: attr(data-username);
        position: absolute;
        top: 50%;
        left: 65px;
        transform: translate(0,-50%);
        min-width: 170px;
        font-size: 22px;
      }
    }
  }
}
@keyframes avatar-move-to-top-left {
  from{
    transform: translate(0px,0px) scale(1);
  }
  to {
    transform: translate(-90px, -40px) scale(.7);
  }
}
